*{
    box-sizing: border-box;
    font-family: 'Holtwood One SC', serif;
    margin: 0;
    padding: 0;
    color: #333;

}

h1{
    margin: 5px;
}

p{
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.img_container{
    display: flex;
    flex-direction: row;
    margin: 0 32px;
    font-size: xx-large;
    text-align: center;
    align-items: center;
    
}
.bounty{
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}
form{
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
}
input{
    padding: 10px;
    font-size: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 5px;
}
.img {
    width: 450px;
    height: 200px;
    padding: 20px;
}
button{
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.delete-btn{
    background-color: firebrick;
    color: whitesmoke;
}

.edit-btn{
    background-color: cornflowerblue;
    color: whitesmoke;
}